body {
    background-color: rgb(203, 203, 203);
}

header {
    text-align: center;
}

a {
    color: blue;
}

.data {
    color: rgb(5, 5, 138);
    font-weight: bold;
}

.conteudo {
    background-color: white;
    width: 700px;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
}

