/* Reset */
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

header, main, footer {
    background-color: white;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.705);
}

body {
    background-color: rgb(139, 0, 0);
}

header {
    margin-top: 10px;
}

header, footer {
    text-align: center;
    color: #5f3000;
}

main {
    height: 380px;
}

h2#slogan {
    font-size: 15pt;
    font-weight: normal;
}

hr {
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 600px;
}

h3 {
    font-size: 18pt;
    text-align: center;
}

footer {
    text-align: center;
}

h3#nomeCompanhia {
    margin-bottom: 15px;
}

section#formulario {
    border: 1px solid black;
    border-radius: 7px;

    width: 550px;
    height: 40%;

    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;

    font-size: 13pt;
}

input {
    width: 100px;
    height: 25px;
    border: 1px solid black;
    border-radius: 3px;
    padding-left: 2px;
}

button {
    border: 1px solid black;
    border-radius: 2px;
    width: 150px;
    height: 30px;
    margin-left: 34%;
    margin-top: 35px;
}