body {
    background-color: #202124 !important;
    color: white !important;
    margin: 15px 8px 8px 8px !important;
    /* Outra cor: #3C4043*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

#gravacao {
    width: 100px;
    background-color: #D04523;
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
    font-size: 11px;
    margin-bottom: 10px;
}

.perfis {
    width: 30% !important;
    background-color: #3C4043;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    text-align: center;
}

img {
    border-radius: 100%;
    width: 66px !important;
    height: 66px !important;
}

.btn {
    color: white !important;
    background-color: #3C4043 !important;
    
    border-radius: 100% !important;
}

.button-red {
    background-color: red !important;
}

#right-actions {
    text-align: right;
}

#mid-actions {
    text-align: center;
}

#chat {
    background-color: white;
    border-radius: 5px;
}

#action-bar {
    margin-top: 30px;
}