/*
Cores: 
    -- Azul escuro: #274659
    -- Amarelo: #F29F05
    -- Azul claro: #6cc7ff
*/

body {
    /* background-color: #274659; */
    background-image: linear-gradient(to right, #274659, #2D5066, #1C3240);
}

h1 {
    color: #F29F05;
    text-align: center;
    filter: drop-shadow(0px 0px 9px);
}

h2 {
    color: #6cc7ff;
    text-align: center;
    filter: brightness(110%);
}

img {
    cursor: pointer;
}

section#imagens {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

p {
    text-align: center;
    color: #F29F05;
    font-weight: bolder;
    filter: drop-shadow(0px 0px 9px);
    font-size: 13pt;
}

div.imagem {
    background-image: radial-gradient(circle,#274659, #4982A6 207%);
    margin-right: 10px;
    margin-left: 10px;
}

input, button {
    background-color: #F29F05;
}